<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="manifest" href="/javascripts/pwa.webmanifest" />
    <link rel="apple-touch-icon" href="/images/apple-touch.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="canonical" href="https://localhost" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#764ABC" />
    <meta name="description" content="Put your description here." />
  </head>
  <body>
    <div id="control-height"></div>
    <div id="overlay">
      <pre id="json"></pre>
      <p id="poverlay"></p>
    </div>
    <div id="sidel">
      <p id="psidel"></p>
    </div>
    <div id="center">
      <p id="pcenter"></p>
      <pre id="json"></pre>
    </div>
    <div id="sider">
      <p id="psider"></p>
    </div>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/pwa.js"></script>
    <script src="/javascripts/status.js"></script>
  </body>
</html>
